{% from "macros/fields.tmpl" import render_input_field,render_checkbox_field, render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Formulař her{% endblock %}

{% block content %}
  <h3>Formulař her</h3>
  <div class="form-group">Napiš nazev hry a rok vydaní</div>
  <form method="POST" id='insert-form'>
      {{ form.hidden_tag() }}
      {{ render_input_field(form.nazev) }}
      {{ render_input_field(form.rok) }}
      {{ render_submit() }}
  </form>
  <br>
  <a href="{{ url_for('public.FormularHryList') }}"><button class="btn-lg btn-info">List her</button></a>
{% endblock %}
